@charset "utf-8";
/* CSS Document */

body
{
	background-size: auto 100%;
	line-height:2em;
	background-image: url('2cellos.jpg');
	background-color: #1C2222;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: left top;
	font-family: 'Lucida Console', Monaco, monospace;
}

#tartalom
{
	background-color: rgba(255,255,255,0.7);
	box-shadow: 10px 10px 10px 5px rgba(0,0,0,0.7);
	width: 45%;
	margin-left: 45%;
	margin-top: 2%;
	padding: 25px;
}

h2, dt
{
	font-variant:small-caps;
	font-size: x-large;
	font-weight: bold;
}

ul
{
	list-style-position:inside;
	list-style-image: url('BassKey.png');
}

ol
{
	list-style-type:georgian;
	list-style-position:inside;
}

.tabla
{
	width:100%;
	border-spacing: 0px;

}

hr
{
	width:100%;
	border-color:#16203b;	
}

iframe
{
	width:560px;
	height:315px; 
}

p, dl
{
	text-align: justify;
}

h1, h2, dt
{
	color: #16203B;
}

.kepek
{
	width: 20%;
	float: right;
	margin-left: 5%;
}

td
{
	padding: 0px;
}

#bal
{
	width: 20%;
}